*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color:white;
}
.container{
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  
  background-color: blue;
}
.switch{
  background-color: red;
  position: relative;
  width: 25%;
  height: 100%;
  float:left;
}
.slots{
  background-color: purple;
  position: relative;
  width: 25%;
  height: 100%;
  float:left;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.square, .square2, .square3, .seven, .seven2, .seven3, .circle, .circle2, .circle3 {
  position: absolute;
  width:100px;
  height: 100px;
  background-color: red;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.square, .square2, .square3 {
  background-color: red;
}
.seven, .seven2, .seven3 {
  font-size: 50px;
  background-color: green;
}
.circle, .circle2, .circle3 {
  background: yellow;
  border-radius: 50%;
}
