*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color:white;
}
.container{
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  background-color: blue;
}
.switch{
  background-color: lightgrey;
  position: relative;
  width: 25%;
  height: 100%;
  float:left;
  border-color: grey;
  border-width: thick;
  border-style: solid;
}

.handle{
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: grey;
  width: 10%;
  height: 55%;
}

.ball{
  background: red;
  border-radius: 50%;
  position: absolute;
  width:120px;
  height: 120px;
  left:25%;
  top:20px;

}
.slots{
  background-color: lightgrey;
  border-color: grey;
  border-width: thick;
  border-style: solid;
  position: relative;
  width: 25%;
  height: 100%;
  float:left;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.square, .square2, .square3, .seven, .seven2, .seven3, .circle, .circle2, .circle3 {
  position: absolute;
  width:100px;
  height: 100px;
  background-color: red;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}
.square, .square2, .square3 {
  background-color: blue;
}
.seven, .seven2, .seven3 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-color: green;
}
.circle, .circle2, .circle3 {
  background: yellow;
  border-radius: 50%;
}

.pull{
  background-color: none;
  position: absolute;
  top: 90%;
  left:5%;
  font-size: 50px;
}

.win{
  position: absolute;
  font-size: 500px;
  text-align: center;
}
