body{
  margin:0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hugecontainer{
  width:4200px;

  margin: 100px auto;


}

.container{
  width:1400px;
  height: 2800px;
  float left;

}

.container2{
  width:1400px;
height: 2800px;
  float left;

}

.a, .b , .c, .d, .e{
  background-color: red;
  float: left;
}

.a{
  width: 100px;
  height: 150px;
  margin: 25px 25px 25px 25px;

}
.b{
  width: 100px;
  height: 150px;
  margin: 25px 25px 25px 0px;

}

.c{
  width: 200px;
  height: 450px;
  margin: 25px 25px 0px 25px;

}
.d{
  width: 100px;
  height: 300px;
  margin: 25px 25px 0px 25px;

}
.e{
  width: 200px;
  height: 300px;
  margin: 25px 25px 0px 25px;

}

.containera, .containerd, .containerab, .containerbbe , .containerc, .containeraa, .containeraad , .containerabaad , .containerabdd,.containerbb,.containerbbbbbb{
  float: left;
}

.containera{
  width: 150px;
  height: 200px;
}
.containerc{
  width: 350px;
  height: 700px;
}

.containerab{
  width: 275px;
  height: 200px;
}

.containerbbe{
  height: 700px;
  width: 350px;

}

.containerd{

  height: 350px;
  width: 125px;
}

.containeraa{
  width: 150px;
  height: 350px;
}

.containerabaad{
  width: 350px;
  height: 700px;
}

.containerabdd{
  width: 350px;
  height: 700px;
}

.containerbb{
  width:350px;
  height: 232
}

.containerbbbbbb{
  width: 350px;
  height: 700px;
}
