body{
  margin:100px 100px;
  background-color: lime;
}

*{
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hugecontainer{
  width:4200px;
  height: 1050px;
  float: left;


}

.container{
  width:800px;
  height:1050px;
  float: left;

}

.container2{
  width:800px;
  height:1050px;
  float: left;

}
.container3{
  width:800px;
  height:1050px;
  float: left;

}
.a, .b , .c, .d, .e{
  background-color: red;
  float: left;
}

.a{
  width: 100px;
  height: 150px;
  border: 5px solid white;

}
.b{
  width: 100px;
  height: 150px;
  border: 5px solid white;

}

.c{
  width: 200px;
  height: 450px;
  border: 5px solid white;

}
.d{
  width: 100px;
  height: 300px;
  border: 5px solid white;

}
.e{
  width: 200px;
  height: 300px;
  border: 5px solid white;

}

.containera, .containerd, .containerab, .containerbbe , .containerc, .containeraa, .containeraad , .containerabaad , .containerabdd,.containerbb,.containerbbbbbb,.containeraa, .containeraad, .containeraadd,.containerbbbb{
  float: left;
}

.containera{
  width: 150px;
  height: 200px;
}
.containerc{
  width: 200px;
  height: 450px;
}

.containerab{
  width: 200px;
  height: 150px;
}

.containerbbe{
  width: 200px;
  height: 450px;

}

.containerd{

  height: 300px;
  width: 100px;
}

.containeraa{
  width: 100px;
  height: 300px;
}

.containerabaad{
  width: 200px;
  height: 450px;
}

.containerabdd{
  width: 350px;
  height: 700px;
}

.containerbb{
  width:350px;
  height: 232px;
}

.containerbbbbbb{
  width: 200px;
  height: 450px;
}

.containerbbbb{
  width: 200px;
  height: 300px;
}

.containeraa{
  height: 300px;
  width: 100px;
}

.containeraad{
  height: 300px;
  width: 200px;
}
.containeraadd{
  height: 450px;
  width: 200px;
}

.barrier{
  height: 1050px;
  width: 50px;
  background-color: red;
  float:left;

}

.top{
  width: 2600px;
  height: 50px;
  background-color: red;
  float:left;
}
