body{
  margin:0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.container{
  width:1000px;
  margin: 100px auto;

}

.a, .b , .c, .d, .e{
  background-color: red;
  float: left;
}

.a{
  width: 100px;
  height: 150px;
  margin: 25px 25px 25px 25px;

}
.b{
  width: 100px;
  height: 150px;
  margin: 25px 25px 25px 0px;

}

.c{
  width: 200px;
  height: 450px;
  margin: 25px 25px 0px 25px;

}
.d{
  width: 100px;
  height: 300px;
  margin: 25px 25px 0px 25px;

}
.e{
  width: 200px;
  height: 300px;
  margin: 25px 25px 0px 25px;

}

.containera, .containerd, .containerab, .containerbbe , .containerc, .containeraa, .containeraad{
  float: left;
}

.containera{
  width: 150px;
  height: 200px;
}
.containerc{
  width: 225px;
  height: 350px;
}

.containerab{
  width: 275px;
  height: 200px;
}

.containerbbe{
  height: 550px;
  width: 250px;

}

.containerd{

  height: 350px;
  width: 125px;
}

.containeraa{
  width: 150px;
  height: 350px;
}
