body{
  margin: 0px;
  overflow-x: hidden;
  background-color: springgreen;
}

.container{
  width: 130vw;
margin: -50px -10%;
}



.block1, .block2,.block3, .block4{

  width: 100px;
    height: 100px;
    float: left;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid black;
}

.block1{
  width: 100px;
    height: 150px;
    float: left;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid tomato;
}

.block2{
  width: 100px;
    height: 100px;
    float: left;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid thistle;
}

.block3{
  width: 100px;
    height: 150px;
    float: left;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid darkgoldenrod;
}

.block4{
  width: 100px;
    height: 100px;
    float: left;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid royalblue;
}
