
.heading1{
  font-size: 100px;
}

.container{
  width: 50%;
  margin: 100px auto;
}

.sm{
  font-size: 200%;
}
.w{
  font-weight: bold;
}

.c{
  color: red;
}
.f{
  font-style: italic;
}
.s{
  font-family: fantasy;
}
