body{
  margin: 0px;
  overflow-x: hidden;
  background-color: slategrey;
}

.container{
  width: 130vw;
margin: -123px -10%;
}



.block1, .block2,.block3, .block4{


    float: right;
    opacity: .7;
    border-radius: 50%;
    border: 10px solid snow;
}

.block1{
  width: 1000px;
    height: 1220px;
  border-color: tan;
   margin: -200px;
}

.block2{
  width: 150px;
    height: 1000px;
  border-color: peru;
   margin: 00px;
}

.block3{
  width: 100px;
    height: 200px;
  border-color: maroon;
   margin: 10px;
}

.block4{
  width: 200px;
    height: 400px;
  border-color: lightyellow ;
   margin: -50px;
}
