
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


@media only screen and (max-width: 1000px) {
}

img {
    max-width: 100%;
    max-height: 100%;
}

body{
  background-color: yellow;
}
h1{
  font-size: 80px;
  text-align: center;


}
h2{
  color:#C1D42F;
  font-size: 80px;
  text-align: center;
}

h3{
  color:white;
  font-size: 80px;
  text-align: center;
  font-family: Pitch Display;
}

h4{
  color:navy;
  font-family: Pitch Display;
  font-size: 120px;
  text-align: center;

}

h5{
  color:navy;
  font-family: Pitch Display;
  font-size: 50px;
  margin: 0;
  padding: 0;
}



ul{
  list-style: none;
}


p{
  margin-top: 55px;
  margin-left: 20px;
  font-size: 14px;

  font-family: Segoe UI;
  color:navy;
  float: left;
}

.h5{
  font-size: 50px;
  font-family: Pitch Display;
  color:navy;
  float: left;
}

.left{
  float: left;
}

.container{
  width: 100%;
}

.end{
  font-size: 280px;
  color:white;
  font-family: Pitch Display;
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
}
.redText,.blueText,.yellowText{
  font-size: 80px;
  font-style: Segoe UI;
  padding-bottom: 50px;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  display:inline-block;

}
.redText{
  color: red;

}
.blueText{
  color:navy;
}
.yellowText{
  color:#C1D42F;
}

.versus{
  position: relative;
  right: 850px;
  top:600px;
}


.video{
  padding-left: 35%;
}

.redBlock{

  width: 50%;
  height: 1200px;
  float: left;
  background: url(images/bg.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: red;
}

.blackBlock{

  width: 50%;
  height: 1200px;
  float: left;
  background: url(images/bg.jpg) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: black;
}

.navyBlock{
  background-color: navy;
  width: 100%;
  height: 720px;
  float: left;

}

.whiteBlock{
  background-color: white;
  width: 100%;

  float: left;
}


.textBlock{
  text-align: left;
  width: 25%;
  float:left;

}
