
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


@media only screen and (max-width: 1000px) {
}

img {
    max-width: 100%;
    max-height: 100%;
}

body{
  background-color: yellow;
}
h1{
  font-size: 80px;
  text-align: center;


}
h2{
  color:#C1D42F;
  font-size: 80px;
  text-align: center;
}

h3{
  color:white;
  font-size: 80px;
  text-align: center;
  font-family: Pitch Display;
}

h4{
  color:navy;
  font-family: Pitch Display;
  font-size: 40px;

}

h5{
  color:navy;
  font-family: Segoe UI
  font-size: 80px;
}


p{
  font-size: 70px;
  text-align: center;
  font-family: Segoe UI;

}

.end{
  font-size: 280px;
  color:white;
  font-family: Pitch Display;
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
}
.redText,.blueText,.yellowText{
  font-size: 80px;
  font-style: Segoe UI;
  padding-bottom: 50px;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  display:inline-block;

}
.redText{
  color: red;

}
.blueText{
  color:navy;
}
.yellowText{
  color:#C1D42F;
}
.imgR{
  position: relative;
  left: 500px;
  bottom: 550px;

}
.versus{
  position: relative;
  right: 850px;
  top:600px;
}

.imgL{
  position: relative;
  right: 500px;
  bottom:50px;

}

.video{
  padding-left: 400px;
}

.redBlock{
  background-color: red;
  width: 720px;
  height: 900px;
  float: left;
}

.blackBlock{
  background-color: black;
  width: 720px;
  height: 900px;
  float: left;
}

.navyBlock{
  background-color: navy;
  width: 1440px;
  height: 720px;
  float: left;
}

.whiteBlock{
  background-color: white;
  width: 1440px;
  height: 820px;
  float: left;
}

.whiteBlock2{
  background-color: white;
  width: 1440px;
  height: 1440px;
  float: left;
}

.whiteBlock3{
  background-color: white;
  width: 1440px;
  height: 1740px;
  float: left;
}

.textBlock{

  width: 800px;
  height: 500px;

}
