
.clearfix:before,
.clearfix:after {
    content: ""; /* 1 */
    display: table; /* 2 */
    clear: both;
}

@font-face {
    font-family: 'Pitch';
    font-style: normal;
    font-weight: normal;
    src: url(Pitch.ttf);
}

@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: url(SEGOEUI.TTF);
}


img {
    max-width: 100%;
    max-height: 100%;
}

body{
  background-color: yellow;
  margin:0;
}
h1 {
  font-family: 'Pitch', serif;
  font-size: 80px;
  text-align: center;
  font-weight: normal;
}
h2{
  font-family: 'Pitch', serif;
  color:#C1D42F;
  font-size: 80px;
  text-align: center;
  font-weight: normal;
}

h3{
  color:white;
  font-size: 80px;
  text-align: center;
  font-family: 'Pitch', serif;
}

h4{
  color:#002b5c;
  font-family: 'Pitch', serif;
  font-size: 120px;
  text-align: center;

}

h5{
  color:#002b5c;
  font-family: 'Pitch', serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}



ul{
  list-style: none;
}


p{
  margin-left: 20px;
  font-size: 16px;

  font-family: 'Segoe UI';
  color:#002b5c;
  float: left;
}
.meme-contain {
  margin: 50px 0 50px 5%;
}
.meme-text, .meme-image{
  width: 50%;
  float: left;
  padding-top: 100px;
}
.meme-text{
  padding-top: 200px;
}

.left{
  float: left;
}

.container{
  width: 100%;
}

.end{
  font-size: 200px;
  color:white;
  font-family: 'Pitch', serif;
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
}
.redText,.blueText,.yellowText{
  font-size: 80px;
  font-family: 'Segoe UI';
  padding-bottom: 50px;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  display:inline-block;

}
.redText{
  color:#e31837;

}
.blueText{
  color:#002b5c;
  font-size: 70px;
}
.yellowText{
  color:#C1D42F;
}

.versus{
  position: relative;
  right: 850px;
  top:600px;
}


.video{
  padding-left: 20%;
}

.redBlock{
  width: 50%;
  height: 100vh;
  float: left;
  background: url(../../BealImg/WizLogoCombinepng.png) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #e31837;
}

.blackBlock{

  width: 50%;
  height: 100vh;
  float: left;
  background: url(../../YoungImg/YoungLogoCombine.png) no-repeat bottom center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: black;
}

.navyBlock{
  background-color: #002b5c;
  width: 100%;

  float: left;

}

.whiteBlock{
  position: relative;
  background-color: white;
  width: 100%;
  float: left;
  z-index: -2;
}

.cheese{
  position: absolute;
  width: 350px;
  top: 50px;
  right: 350px;
  z-index: -1;
}


.textBlock{
  text-align: left;
  width: 25%;
  float:left;
  margin-bottom: 50px;

}
@media only screen and (max-width: 1500px) {
  .cheese{

    width: 300px;
    top: 50px;
    right: 200px;

  }

}
@media only screen and (max-width: 1250px) {
  .cheese{

    width: 300px;
    top: 50px;
    right: 100px;

  }
}

@media only screen and (max-width: 1050px) {
  .redText,.blueText,.yellowText{
    font-size: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .blueText{
    font-size: 60px;
  }
  img{
    max-width: 75%;
    max-height: 75%;
  }
  .redBlock{
    height: 100vh;
  }
  .blackBlock{
    height: 100vh;
  }

  .cheese{
    top: 250px;
  }
  h5{
    font-size: 40px;
  }
}
@media only screen and (max-width: 850px) {
  .redText,.blueText,.yellowText{
    font-size: 60px;
  }

  .blueText{

    font-size: 50px;
  }
  .end{
    font-size: 150px;
  }

  img{
    max-width: 75%;
    max-height: 75%;
  }

  .cheese{


    right: 100px;

  }
}
@media only screen and (max-width: 750px) {
  h1,h2,h3,h4{
    font-size: 50px;
  }



  .h5{
    font-size: 40px;
  }
  .redBlock{
    height: 100vh;
  }
  .blackBlock{
    height: 100vh;
  }
  .end{
    font-size: 100px;
  }

  img{
    max-width: 60%;
    max-height: 60%;
  }
  .redText,.blueText,.yellowText{
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .blueText{

    font-size: 30px;
  }

  #smaller{
    max-width: 40%;
    max-height: 40%;

  }
}

@media only screen and (max-width: 500px) {

  img{
    max-width: 35%;
    max-height: 35%;
  }
  .textBlock{
    text-align: left;
    width: 30%;
    float:left;

  }
  .cheese{

    width: 150px;
    top: 150px;
    right: 100px;

  }
  h5{
    font-size: 20px;
  }

}
